{% extends "base.html" %}
{% block title %}Search Page{% endblock %}

{% block content %}

<script>
    function rocchio() {
        var relevant = document.querySelectorAll('input[name=relevant]:checked');
        if (relevant.length > 0) {
            document.getElementById("rocchio-form").submit();
        } else {
            alert("Please select some documents first!");
        }
    }
</script>

<div class="my-container">
    <div>
        <div class="my-card">
            <form name="search-engine" action="/search-engine" method="post">
                <div class="form-section">
                    <b>Enter the query: </b>
                    <div>
                        <input class="search-input" type="text" id='search' name="query" value='{{query}}' />
                    </div>
                </div>
                <div class="form-section">
                    <b>Check the search method: </b>
                    <div>
                        <input type="radio" id="bm25" name="model" value="bm25" {% if model=='bm25' %} checked="True" {%
                            endif %}>
                        <label for="bm25">OKAPI BM25</label>
                    </div>
                    <div>
                        <input type="radio" id="vsm" name="model" value="vsm" {% if model=="vsm" %} checked="True" {%
                            endif %}>
                        <label for="vsm">Vector Space Model</label>
                    </div>
                    <div>
                        <input type="radio" id="mixture" name="model" value="mixture" {% if model=='mixture' %}
                            checked="True" {% endif %}>
                        <label for="mixture">Language Based Model</label>
                    </div>
                    <div>
                        <input type="radio" name="model" value="lucene" {% if model=='lucene' %} checked="True" {% endif
                            %}>
                        <label for="lucene">Lucene Model</label>
                    </div>
                </div>
                <div class="form-section">
                    <b>Enter number of results to show:</b>
                    <div>
                        <input class="search-input number-input" type="number" name="n_to_show" value={{n_to_show}}
                            min="5" max="50">
                    </div>
                </div>
                <div class="form-section"><input type="submit" value="Search" class="search" /></div>
            </form>

            {% if model == 'vsm' %}
            <div class="form-section">
                <b>Choose relevant tweets and update</b>
                <button id="rocchio-btn" onclick="rocchio()" class="search">Update</button>
            </div>
            {% endif %}
        </div>
    </div>
    <div style="flex: 1; margin-left: 1em;" id="search-results">
        <form id="rocchio-form" action="/rocchio" method="post">
            <input type="hidden" name="query" value='{{query}}' />
            <input type="hidden" name="model" value='{{model}}' />
            <input type="hidden" name="n_to_show" value='{{n_to_show}}' />

            {% for result in results %}
            <div style="display: flex; align-items: center; justify-content: center; text-align: center;">
                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">LOADING...</p>
                    <a href="https://twitter.com/twitter/status/{{result}}"></a>
                </blockquote>
                {% if model == 'vsm' %}
                <div style="margin-left: 1em;">
                    <input type="checkbox" name="relevant" value="{{result}}">
                    <label for="relevant">Relevant</label>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </form>
    </div>
</div>
{% if n_results != 0 %}
<button onclick="location.href='#'" class="search top" type="button">Scroll Up</button>
{% endif %}
{% endblock %}